.weather-forecast-current {
    float: left;
    text-align: center;
    margin-right: 30px;
    width: 164px;
}

#weather-forecast-block-options {
    float: left;
    width: 180px;
}

.block-weather-forecast {
    overflow: hidden;
}

.block-weather-forecast .content {
    position: relative;
    width: 600px;
}

#open-options {
    width: 30px;
    height: 20px;
    background: url('images/left.png') 6px -5px no-repeat;
    float: right;
    margin-top: 4px;
    cursor: pointer;
}

#close-options {
    width: 30px;
    height: 20px;
    background: url('images/right.png') 0px -5px no-repeat;
    float: left;
    cursor: pointer;
}

.weather-forecast-hmid,
.weather-forecast-wind,
.weather-forecast-pressure {
    text-align: left;
    padding-left: 5px;
    font-size: 12px;
}


.weather-forecast-temperature {
    font-size: 26px;
}

.weather-forecast-full {
    padding: 15px 0 10px 0;
    text-align: right !important;
}

.forecast-day {
    margin-bottom: 30px;
}

.forecast-date {
    background-color: #EFEFEF;
    padding: 5px;
    margin-bottom: 0;
}

.forecast-day-table {
    margin-top: 0px;
    border-left: 1px solid #c0c0c0;
    border-right: 1px solid #c0c0c0;
}

.forecast-day-table td,
.forecast-day-table th {
    border: 0px;
    text-align: center;
}

.forecast-day-table th {
    text-align: center;
    border-left: 1px solid white;
}

.forecast-tr.odd {
    border-bottom: 1px solid #c0c0c0;
}

.block-imweather-forecast .weather-forecast-full a.active {
    text-decoration: underline;
}

